@model IEnumerable<TicketSales.Admin.Models.ConcertViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Concerts</h1>

<div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Tickets sold out</th>
            <th>Maximum number of tickets</th>
        </tr>

        @foreach (var concert in Model)
        {
            <tr>
                <td>@concert.Id</td>
                <td>@concert.Title</td>
                <td>@concert.TicketsSoldOut</td>
                <td>@concert.MaximumNumberOfTickets</td>
            </tr>
        }

        </table>
</div>





